* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #fbf8cc;
}


h1 {
    text-align: center;
    font-weight: bold;
    font-size: 135px;
}

p {
    font-weight: bold;
}

.heading {
    text-align: center;
    font-size: 25px;
    margin-bottom: 1%;
    margin-top: -2%;
}

.meme:hover {
    background-color: #fbf8cc;
}

.button-spacing {
    display: flex;
    justify-content: space-evenly;
}

.button {
    border: none;
    outline: none;
    background-color: #fbf8cc;
}

.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}

.part {
    margin-top: 3%;
}

.joke {
    background-color: #fbf8cc;
}

.image {
    padding: 1rem;
    margin-bottom: 1rem;
}

span {
    text-decoration: underline #000;
}

.fa-heart {
    color: red;
}

.fav {
    top: 0;
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 30px;
    bottom: 0;
}

.content-return {
    text-align: center;
    padding-bottom:200px;
}

.answer-button {
    left: 0px;
}

