* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

html {
    background-color: #fbf8cc;
}


h1 {
    text-align: center;
    font-weight: bold;
    font-size: 135px;
}

p {
    font-weight: bold;
}

.heading {
    text-align: center;
    font-size: 25px;
    margin-bottom: 1%;
    margin-top: -2%;
}

.meme:hover {
    background-color: #fbf8cc;
}

.button-spacing {
    display: flex;
    justify-content: space-evenly;
}

.button {
    border: none;
    outline: none;
    background-color: #fbf8cc;
}

.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}

.part {
    margin-top: 3%;
}

.joke {
    background-color: #fbf8cc;
}

.image {
    padding: 1rem;
    margin-bottom: 1rem;
}

span {
    text-decoration: underline #000;
}

.fa-heart {
    color: red;
}


.fav {
    top: 0;
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 30px;
    bottom: 0;
}

.content-return {
    text-align: center;
    padding-bottom:200px;
}

.answer-button {
    left: 0px;
}

#favoriteBtn {
    position:absolute;
    bottom:5px;
    right:5px;
}


.popup{
    background-color: #ffffff;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
    line-height: 25px;
}
.anchor{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #000;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 0;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 80px;
    }
}