* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

html {
    background-color: #fbf8cc;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 135px;

}

.heading {
    text-align: center;
    font-size: 25px;
    margin-bottom: 1%;
    margin-top: -2%;

}

.meme:hover {

    background-color: #fbf8cc;


}

.button {
    border: none;
    outline: none;
    background-color: #fbf8cc;
    left: 30%;

}

.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}

.part {
    margin-top: 3%;
}

.joke {
    background-color: #fbf8cc;

}

.image {
    padding: 1rem;
    margin-bottom: 1rem;
}

span {
    text-decoration: underline #000;
}

.fa-heart {
    color: red;
}

.fav {
    top: 0;
    position: absolute;
    right: 0;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

footer {
    /* margin-left: 10%; */
    margin-top: 30px;
    
}

.foot {
    margin-left: 5%;
}

.card {
    top: -3%;
}

.btn2 {
    margin-left: 4%;

}

/* Tried have the text appear in a container box 
the same size as the image but this did not work for responsiveness */
/* .image {
    width: 568px;
    height: 443px;
} */

.content-return {
    text-align: center;
    width: 500px;
    height:600px; 
}

.answer-button {
    border: none;
    outline: none;
    background-color: #fbf8cc;
}

/* .activeImg{
    opacity: 0;
} */